@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Marcellus&family=Overlock:wght@400;700&display=swap");
:root {
  --title-font: "Overlock", sans-serif;
  --body-font: "Lato", sans-serif;
  --red: #e7272d;
}
/* common css */
body {
  font-family: var(--body-font);
  font-size: 18px;
}
.section-break {
  margin-top: 80px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font);
}
h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  color: #1b1b1b;
}
p {
  line-height: 28px;
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/* navbar css */
.navbar {
  position: absolute;
  width: 100%;
  @media (max-width:575.98px) {
    margin: 0 10px;
    margin-right: 10px;
  }
  ul{
      li {
        a {
          font-size: 20px;
          font-weight: 700;
        }
      }
  }
  
  .shopping-cart {
    position: relative;
    @media (max-width:991.98px) {
      display: none;
    }
  
    i {
      font-size: 35px;
      color: black;
    }
    .ball {
      width: 20px;
      height: 20px;
      background-color: var(--red);
      font-size: 12px;
      line-height: 20px;
      position: absolute;
      bottom: 23px;
      right: 48px;
    }
    .divider {
      width: 1px;
      height: 25px;
      display: inline-block;
      background-color: #333;
      margin: 0 20px 0 30px;
    }
  }
  .three-line {
    
      @media (max-width:991.98px) {
       display: none;
      }
    display: flex;
    flex-direction: column;
    margin: 0 30px 0 10px;
    transform: rotate(180deg);
  
    .line1 {
      height: 1px;
      width: 37px;
      background-color: #020000;
      display: inline-block;
      margin-bottom: 10px;
    }
    .line2 {
      height: 1px;
      width: 48px;
      display: inline-block;
      background-color: #020000;
      margin-bottom: 10px;
    }
    .line3 {
      height: 1px;
      width: 24px;
      display: inline-block;
      background-color: #020000;
    }
  }
}

/* banner css */
.banner {
  background-image: url(../images/background-solid.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 130px;
 
  .container {
    .banner-text {
      max-width: 500px;
      padding-top: 21vh;
      padding-bottom: 30vh;

      h1 {
        font-size:145px;
        line-height: 140px;
        color: #fff;
        @media (max-width:567.98px) {
          font-size: 24vw;
          line-height: 22vw;
         }
      }
      button {
        background-color: var(--red);
        font-size: 2.25rem;
        line-height: 28px;
        padding: 17px 51px;
        margin-left: 180px;
        &:hover{
          box-shadow: 0 0 10px #db0910,0 0 40px #db0910,0 0 80px #db0910,0 0 120px #f02f20;
          background-color: #db3c3c;
          transition-delay: .3s;
        }
      }
      span {
        font-size: 24px;
      }
      .line {
        width: 235px;
        height: 1px;
        display: inline-block;
        background-color: var(--red);
        margin-left: 27px;
      }
    }
  }
}
/* about css */
.about {
  .about-img {
    @media (max-width: 991.98px) {
      order: 3;
      padding: 70px 0;
      display: flex;
      justify-content: center;
    }
    @media (max-width: 575.98px) {
      width: 85%;
      margin-left: 30px;
        }
  }
  .about-text {
    @media (max-width: 991.98px) {
      order: 2;
    }
    h2{
      @media (max-width: 1199.98px) {
    font-size: 40px;
      }
      @media (max-width: 575.98px) {
        width: 95%;
        margin-left: 30px;
          }
    }
    p {
      line-height: 26px;
      @media (max-width: 1199.98px) {
        line-height: 24px;
        font-size: 17px;
          }
          @media (max-width:767.98px) {
            width: 550px;
          }
          @media (max-width: 575.98px) {
            width: 450px;
            font-size: 18px;
            margin-left:30px;
              }
    }
    button {
      background-color: var(--red);
      padding: 15px 29px;
      @media (max-width:767.98px) {
        margin-bottom: 50px;
      }
      @media (max-width: 575.98px) {
        margin-left: 30px;
        margin-bottom: 50px;
          }
    }
    .service-time {
      background-color: #1b1b1b;
      padding: 15px 15px 31px 15px;
      @media (max-width: 575.98px) {
        width:85% ;
         margin-left: 30px;
          }
      span {
        font-size: 13px;
      }
    }
  }
}
/* manu css */
.manu {
  h2{
    @media (max-width: 575.98px) {
      margin-bottom:18vw;
        }
  }
  .small{
    @media (max-width: 575.98px) {
      display: none;
        }
    ul {
      margin: 0 auto;
      border: 1px solid #ccc;
      width: 85%;
      height: 85px;
      
      li {
        transition: all 0.4s;
        font-weight: 700;
        &:hover {
          color: #fff;
          background-color: var(--red);
          border-radius: 5px;
          padding: 10px 20px;
        }
      }
  }

  }
  .manu-container {
    @media (max-width: 1199.98px) {
      display: flex;
      justify-content: center;
    }
    .manu-item {
      border: 1px solid #ccc;
      overflow: hidden;
      position: relative;
      @media (max-width: 767.98px) {
        margin-bottom: 20px;
      }
      @media (max-width: 575.98px) {
        width: 90vw;
        margin: 0 auto;
          }
          img{
            width: 100%;
          }
      .price {
        padding: 20px 12px;
        position: absolute;
        bottom: 160px;
        left: 0;
        border-top-right-radius: 10px;
        @media (max-width: 1199.98px) {
          position: absolute;
          bottom: 185px;
          left: 0;
        }
        @media (max-width: 991.98px) {
          position: absolute;
          bottom: 160px;
          left: 0;
        }
        i {
          color: var(--red);
        }
      }
      h6 {
        font-size: 22px;
      }
      .dot {
        width: 10px;
        height: 10px;
        background-color: var(--red);
        display: inline-block;
        margin: 0 7px;
      }
      .cart {
        border: 1px solid #e7272d;
        height: 55px;
        width: 95%;
        text-align: center;
        align-items: center;
        line-height: 28px;
        font-weight: 700;
        color: #e7272d;
        line-height: 55px;
        transition: all .4s;
        i {
          color: var(--red);
          font-size: 20px;
        }
        &:hover{
          background-color: #e7272d;
          color: #fff;
        }
      }
    }
  }
}
/* booking css */
.booking {
  background-image: url(../images/reserve.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 60px 0;
  .container {
    .booking-terms {
      color: #fff;
      align-items: center;

      @media (max-width: 991.98px) {
        margin-bottom: 50px;
      }
    }
    .booking-form {
      @media (max-width: 991.98px) {
      }

      input {
        height: 53px;
        border: 1px solid #ccc;
        color: #1b1b1b;

        &:focus {
          outline: 0;
        }
      }
      select {
        height: 53px;
        border: 1px solid #ccc;
        color: #1b1b1b;
      }

      button {
        background-color: var(--red);
        color: #fff;
        padding: 16px 36px;
      }
    }
  }
}

/* food-gallery css */
.food-gallery {
  .side {
    position: relative;
    @media (max-width: 991.98px) {
      margin-left: 27%;
      width: 360px;
      height: 569px;
    }
    @media (max-width: 767.98px) {
      margin-left: 20%;
      width: 360px;
      height: 569px;
    }
    .opacity {
      background-color: rgba(0, 0, 0, 0.7);
      position: absolute;
      bottom: 0;
      left: 0;
    }
    .text {
      position: absolute;
      bottom: 50px;
      left: 50px;
      &::before {
        content: "";
        width: 1px;
        height: 374px;
        background-color: #e7272d;
        position: absolute;
        bottom: -21px;
        left: -15px;
      }
      &::after {
        content: "";
        width: 287px;
        height: 1px;
        background-color: #e7272d;
        display: inline-block;
        position: absolute;
        bottom: -6px;
        left: -36px;
      }
    }
  }
  .img-gallery {
    @media (max-width: 767.98px) {
      margin-left: 20%;
    }
  }
}
/* contact css */
.contact {
  background-color: #1b1b1b;
  background-image: url(../images/image-14.png);
  background-position: left;
  background-repeat: no-repeat;

  .container {
    .position {
      position: relative;
      &::before {
        content: "";
        width: 40%;
        height: 1px;
        background-color: #ccc;
        position: absolute;
        top: 100px;
        left: -20px;
      }
      &::after {
        content: "";
        width: 40%;
        height: 1px;
        background-color: #ccc;
        position: absolute;
        top: 100px;
        right: -20px;
      }
    }

    img {
      width: 140px;
      height: 70px;
      margin: 60px auto;
      display: inline-block;
    }

    p {
      color: #ccc;
    }
    ul {
      padding-left: 0;
      margin-bottom: 60px;
      li {
        color: #ccc;
      }
    }
    ul {
      li {
        i {
          color: #fff;
          background-color: #3f3f3f;
          padding: 5px;
          margin-right: 10px;
          font-size: 22px;
        }
        .icon {
          background-color: var(--red);
          padding: 8px 9px;
          width: 36px;
          height: 36px;
        }
        a {
          color: #ccc;
        }
      }
    }
    input {
      background-color: #1b1b1b;
      border-color: rgba(255, 255, 255, 0.203);
      padding: 11px 18px;
      height: 50px;
      width: 100%;
      margin-bottom: 20px;
      color: rgba(255, 255, 255, 0.203);
      &:focus {
        outline: 0;
      }
    }
    button {
      background-color: #e7272d;
      padding: 6px 15px;
      @media (max-width:567.98px) {
        margin-bottom: 6vw;
       }
    }
  }
}

footer {
  background-color: #262525;
 
  span {
    color: #ccc;
  }
}
